@CHARSET "UTF-8";
.search-inline input[type=text]{
	padding-bottom: 1px;
}

.btn i{
	padding-bottom: 2px;
}

.pad-top-5{
	padding-top: 5px;
}
.pad-btm-5{
	padding-bottom: 5px;
}


.profile .profile-photo, 
.img-profile-photo{
	cursor: pointer;
}

.profile-photos{
	display: none;
}
.profile-photos img{
	margin: 2px;
	cursor: pointer;
}
.profile-photos img:hover{
	transform: scale(1.15);
	transition: .5s;
}

.profile{
	
}
.profile .widget-img{
	position: absolute;
    width: 96px;
    height: 96px;
    left: 50%;
    margin-left: -48px;
    top: -48px;
}
.profile .widget-body{
	padding: 60px 15px 15px;
}

.table > tbody > tr > td{
	vertical-align: middle;
}